html, body {
  min-width: 350px;
  min-height: 350px;
}

img { 
  align-self: top;
  object-fit: contain;
  max-width: 128px;
}


.hidden {
  display: none;
}

button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

.robotle-container {
  display: flex;
  min-height: 200px;
}
.robotle {
  display: flex;
  max-height: 128px;
  flex: 30%;
}
.robotle-messages {
  flex: 70%;
  max-width: 200px;
}
.robotle-message {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}
.user-messages {
  display: flex;
}

.fade-in {
	animation: fadeIn 2s;
  	opacity: 1;
}

@keyframes fadeIn {
  from {
  	opacity: 0;
  }
  to {
 	opacity: 1;
  }
}